
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';


#navBar {
    background-color: $ur-blue;
    border-bottom: 5px solid $ur-red;
    margin-bottom: 15px;

    a.navbar-brand > img {
        margin-right: 5px;
    }

    a {
        color: white;
    }
}
